*{
	margin: 0;
	padding: 0;
}
.cyan{
	background: #89cfdc;
}
.red{
	background: #dd1d21;
}
.grey{
	background: #7f7f7f;
}
.green{
	background: #008443;
}
body{
	font-family: arial,sans-serif;
	margin: 0;
	padding: 0;

}
.wraper{
	width: 100%;
}
.layer{
	width: 1250px;
	margin: 0 auto;
}

/*header starts*/
.dc-header{
	background-color: #fbcf07;
	padding: 66px 45px;
}
.shell-dc-logo{
	float: left;
	margin-right: 54px;
	margin-top: 30px;
}
.dc-nav{
}
.dc-nav .nav-list{
	list-style: none;
	display: inline;
}
.dc-nav .nav-list > li{
	float: left;
	width: 156px;
	margin-right: 14px;
	height: 136px;
    position: relative;
}
.dc-nav .nav-list li{
	z-index: 10;
}
.dc-nav .nav-list > li > a{
	text-decoration: none;	
	color: #ffffff;    
	float: left;
    padding: 16px 14px 0px 14px;
    width: 128px;
    height: 125px;
    display: block;
    font-size: 14px;
}
.dc-nav .nav-list > li > a > img{
	margin-left: 4px;
}
.dc-nav .nav-list > li .nav-icon{
	text-align: center;
	width: auto;
	height: 50px;
	position: absolute;
	top: 64px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.shell-logo{
	float: right;
	display: block;
	margin-top: 20px;
}
.dc-nav .nav-list-2{
	list-style: none;
	float: left;
	padding-left: 0;
}
.dc-nav .nav-list > li .nav-list-2  li{
	margin-top: 4px;
	width: 156px;
	position: relative;
}
.dc-nav .nav-list > li .nav-list-2 > li a{
	color: #ffffff;
	font-size: 15px;
	text-decoration: none;
	display: block;
	padding: 15px 15px;
	width: 128px;	
}
.dc-nav .ul-list-2 , .nav-list-2-ul-2 {
	display: none;
	list-style: none;
}
.dc-nav  .nav-list-2-ul-2 {
	position: absolute;
    top: -4px;
    left: 160px;
}
.dc-nav .nav-list .second-li:hover .ul-list-2{
	display: block;
}
.dc-nav .nav-list .ul-list-2 li:nth-child(1n+3):hover .nav-list-2-ul-2{
	display: block;
}
.dc-nav .nav-list > li .nav-list-2  li:hover {
	background: #6ca1ab;
}
.dc-nav  .nav-list-2-ul-2 > li:hover {
	background: #6ca1ab;
}
.dc-nav .nav-list > li .nav-list-3 > li:hover{
	background: #49b27e;
}

.clr{clear: both;}
/*header css ends*/

/*home page content starts*/
.home-content .container{
	width: 100%;
	background: #ffffff;
	clear: both;
	margin: 20px 0;
	float: left;

}

.home-content .tile1{
	width: 728px;
	float: left;
	height: 422px;
	background: #bed50f;
}
.home-content .tile1 img{
	float: right;
	margin: 38px 38px 0 0;
	}

 .home-content .tile2{
	width: 503px;
	height: 422px;
	float: left;
	background: #dd1d21;
	margin-left: 19px;
}
.home-content .tile2 img{
	float: right;
	margin: 38px 38px 0 0;
}
.home-content .countries{
	font-size: 45px;
    color: #fff;
    margin-top: 300px;
    margin-left: 19px;
    float: left;
}

.home-content .tile3{
	width: 534px;
	height: 422px;
	float: left;
	background: #89cfdc;
	margin-top: 20px;
	
}

.home-content .tile3 img{
	float: right;
	margin: 38px 38px 0 0;
}
.home-content .tile4{
	width: 696px;
	height: 422px;
	float: left;
	background: #bed50f;
	margin-left: 19px;
	margin-top: 20px;
	position: relative;
}
.home-content .tile4 img{
	float: right;
	margin: 38px 38px 0 0;
}
.home-content .china-txt{
	font-size: 45px;
    color: #fff;
    margin-top: 300px;
    margin-left: 9px;
    float: left;
	position: absolute;
	right: 530px;
}
/*home page content ends*/


/*castrol page css starts*/
.castrol-page .castrol-content{
	width: 1164px;
	margin: 90px auto;
}
.castrol-page .castrol-content h1{
	font-size: 42px;
	color: #dd1d21;
	font-weight: bold;
	line-height: 48px;
}
.castrol-page .castrol-content h2{
	margin: 18px 0 16px 0;
	font-size: 23px;
	color: #000000;
	font-weight: bold;
}
.castrol-page .castrol-content p{
	margin-top: 34px;
	font-size: 18px;
	color: #000000;
	font-weight: normal;
	line-height: 33px;

}
.castrol-page .castrol-content p a{
	text-decoration: none;
	color: #000000;
}
.castrol-page .castrol-content h3{
	margin: 30px 0 16px 0;
	font-size: 23px;
	color: #dd1d21;
	font-weight: bold;
}
.castrol-page .castrol-content .para-no-mg-top{
	margin-top: 0px;
}
.castrol-page .castrol-content .para-end{
	margin-top: 78px;
}
.castrol-page .castrol-content .para-end > p{
	margin-top: 22px;
}
/*castrol page css ends*/

/*e-mistakes-page css*/
.e-mistakes-content{
	background: #ffeac2;
	margin-top: 20px;
	padding: 105px 140px 95px 148px;

}
.e-mistakes-content .banner-img img{
	margin: 0 auto;
	display: block;
}
.e-mistakes-content h1{
	font-size: 42px;
	color: #dd1d21;
	font-weight: bold;
	margin-top: 40px;
}
.e-mistakes-content h2{
	font-size: 23px;
	color: #000000;
	font-weight: bold;
	margin-top: 40px;
}
.e-mistakes-content ol{
	margin-top: 50px;
	margin-left: 26px;
}
.e-mistakes-content ol li{
	margin-top: 20px;
	font-size: 18px;
}
/*e-mistakes-page css ends*/

/*tedtalk-page css*/
.video-page .video-content{
	background: #ffeac2;
	padding: 0px 44px 116px 44px;
}
.video-page .video-content .vid-section{
	position: relative;
}
.video-page .video-content .vid-section img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}
.video-page .video-content .vid-section .vid-frame{
	position: relative;
	top: 32px;
	width: 1114px;
	height: 640px;
	margin: 0 auto;
	padding-bottom: 155px;
}
/*tedtalk-page css ends*/

/*bigdata css starts*/
/*same as tedtalk css*/
.video-page .video-content h1{
	font-size: 23px;
    color: #000000;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 64px;
}
.video-page .video-content:first-child{
	margin-top: 20px;
	padding-top: 100px;
}

/* leadership page*/

.leadership .container{
	background: #ffeac2;
	width: 100%;
	float: left;
	margin-bottom: 20px;
	margin-top:20px;

}

.leadership .container .right-col{
	height:850px;
	float:left;
	width:312px;
}
.leadership .container .image-pan{
	float: left;
	margin-right: 70px;
    width: 312px;
    text-align: center;
}
.leadership .container  span{
	width: 312px;
	line-height: 25px;
    float: left;
    color: #000000;
    font-weight: bolder;
    font-size: 22px;
	margin-top:10px;
	text-align:center;
}

.leadership .container .inner-content{
	padding: 135px 84px 95px 106px;
    float: left;
}

.leadership .container .inner-content .digital-text{
	width: 652px;
    float: left;
    margin-left: 70px;
}
.leadership .container .inner-content .digital-text p{
	font-size: 18px;
	line-height: 30px;
	margin-top: 28px;
	}
.leadership .container .inner-content .digital-text .top{
	margin-top: 0;
}
.leadership .container .inner-content .digital-text .qout{
	color: #000000;
	font-weight: bold;
	}
/*leadership page ends here*/

/*india page*/

.india .container{
	width: 100%;
	background: #ffeac2;
	float: left;
	margin-top:20px;
	margin-bottom: 20px;
}
.india .container .inner-section{
	padding: 115px 140px 110px 140px;
}
.india .container .inner-section ol {
    counter-reset: item;
    padding: 0;
}
.india .container .inner-section ol li { 
	display: block;
	line-height: 35px; 
	font-size: 18px;
	margin: 14px 0 14px;

}

.india .container .inner-section ol li:before 
{
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
}
.india .container .inner-section ul{
	padding-left: 18px;
}
.india .container .inner-section ul li{
    line-height: 35px;
  	font-size: 18px;
  	margin: 14px 0 14px 0;

   }
.india .container .inner-section img{
   	display: block;
   }
.india .container .inner-section p{

	line-height: 30px;
	font-size: 18px;
	margin-top: 28px;
}
/* india page ends here*/

/*cina page */


.china .container {
	width: 100%;
	background: #fef5cd;
	float: left;
	margin-top:20px;
	margin-bottom: 20px;
}

.china .container .inner-section{
	padding: 115px 140px 110px 140px;
}
.china .container .inner-section h1{
	color: #dd1d21;
	font-size: 29px;
}
.china .container .inner-section p{
	line-height: 30px;
	font-size: 18px;
	float: left;
	margin: 14px 0 14px 0;
}
.china .container .inner-section ol {
    counter-reset: item;
    padding: 0;
}
.china .container .inner-section ol li { 
	display: block;
	line-height: 35px; 
	font-size: 18px;
	margin: 14px 0;

}
.china .container .inner-section ol li:before 
{
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
}
.china .container .inner-section ul{
	padding-left: 18px;
}
.china .container .inner-section ul li{
    line-height: 35px;
   }
.china .container .inner-section img{
	display: block;
}


/* china page ends here*/

/* seao page*/


.seao .container {
	width: 100%;
	background: #fef5cd;
	float: left;
	margin-top:20px;
	margin-bottom: 20px;
}

.seao .container .inner-section{
	padding: 85px 45px 75px 45px;
	height: auto;
	float: left;
}

.seao .container .inner-section h1 {
	color: #dd1d21;
	font-size: 29px	;
}
.seao .container .left-section{
	width: 50%;
	float: left;

}
.seao .container .left-section h2{
	font-size: 18px;
	font-weight: normal;

}
.seao .container .right-section{
	width: 50%;
	float: left;
}
.seao .container .inner-section ol {
    counter-reset: item;
    padding: 0;
}
.seao .container .inner-section ol li { 
	display: block;
	line-height: 35px; 
	font-size: 23px;

}
.seao .container .inner-section ol li:before 
{
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
}

.seao .container .inner-section span{
	font-size: 18px;
	line-height: 60px;
}
.seao .container .inner-section p {
	font-size: 18px;
	line-height: 30px;
	margin:14px 0 14px 0;
	float: left;
}
.seao .container .inner-section img{
	margin: 6px 0 6px 0;
}
.seao .container .inner-section ul{
	padding-left: 20px;
	float: left;
}

.seao .container .inner-section ul li{
	font-size: 18px;
	margin-top: 32px;
}
.seao .container .inner-section .right-image{
	float: right;
}
.seao .container .inner-section .space{
	width: 100%;
	line-height: normal;
	float: left;
}

/* seao page ends here */

/* fleat-pro */


.fleat-pro .container {
	width: 100%;
	background: #fef5cd;
	float: left;
	margin-top:20px;
	margin-bottom: 20px;
	
}
.fleat-pro .container .inner-section {
	padding: 85px 45px 75px 45px;
	height: auto;
	float: left;

}
.fleat-pro .container .inner-section p{
	float: left;
	width: 100%;
	font-size: 18px;
	line-height: 30px;
	margin-top: 28px;
}
.fleat-pro .container .inner-section h1 {
	color: #dd1d21;
	font-size: 29px	;
}
/* fleat pro ends here */

/* helix */
.helix .container {
	width: 100%;
	float: left;
	margin-top:20px;
	margin-bottom: 20px;
}

.helix .container .inner-section{
	padding: 85px 45px 75px 45px;
	height: auto;
	float: left;
}
.helix .container .inner-section ul{
	width: 97%;
    margin: 0 auto;
    display: block;
}
.helix .container .inner-section ul li{
	font-size: 18px;
	margin-bottom: 18px;
}
.helix .container .inner-section ul li:last-child{
	margin-bottom: 42px;
}

.helix .container .inner-section h1 {
	color: #dd1d21;
	font-size: 29px	;
}
.helix .container .inner-section img{
	display: block; 
	float: left;
	width: 100%;
}
.helix .container .inner-section strong{
	margin-top: 28px;
	width: 100%;
	font-size: 23px;
	line-height: 30px;
	padding: 0;
}
.helix .container .inner-section p{
	width: 100%;
	font-size: 18px;
	line-height: 30px;
	margin-top: 28px;
	margin-bottom: 28px;
}
.helix .container .inner-section a{
	text-decoration: none;
	color: #000;
}
.helix .container .inner-section img{
	display: block;
	margin-bottom: 28px;
}




/*footer css*/
/*footer*/
.shell-footer{
	width: 100%;
	background: #595959;
	float: left;
	padding: 28px 0 46px 0;
}



.shell-footer .footer-block{
	float: left;
	box-sizing: border-box;
	color: #ffffff;
    width: 25%;
    padding-left: 8%;
}
.shell-footer .footer-block h6{
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;

}.shell-footer .footer-block h6 a{
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
}
.shell-footer .footer-block ul li{
	list-style: none;
	margin-top: 18px;
}
.shell-footer .footer-block ul .half-width{
	width: 40%;
	float: left;
}
.shell-footer .footer-block ul li a{
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
}
/*footer css ends*/